body {
  margin-top: 15%;
}

h1 {
  font-size: 14px;
  display: inline;
  color: darkblue;
}

form {
  display: inline;
  padding: 10px;
}

#add {
  color: white;
  background-color: skyblue;
  border-style: hidden;
}

#new-task-input {
  width: 300px;
}